@charset "ISO-8859-1";
body {
    margin: 10;
    padding: 10;
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/originals/ce/f0/ac/cef0ac309fbb3d00344554a27cf2136a.jpg'); /* Replace 'background_image.jpg' with your image file */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    padding: 20px;
}

.logo {
    position: relative;
    top: 10px;
    left: 10px;
}

h1 {
    color: green;
}

button {
    background-color: #a04598;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #a0459b;
}

.main-content {
    text-align: center;
    color: #6b0762;
    padding: 50px;
    font-style: italic;
}
